*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --purple: hsl(257, 27%, 26%);
    --cyan: hsl(180, 66%, 49%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayViolet: hsl(257, 7%, 63%);
    --darkBlue: hsl(255, 11%, 22%);
    --darkViolet: hsl(260, 8%, 14%);
}

html, body{
    width: 100%;
}

#top-nav {
    width: 100%;
    display: flex;
    padding: 3rem 2rem 2rem 2rem;
}
    #nav-inner {
        display: none;
    }
    #top-nav img:first-child{
        width: 125px;
    }

    #top-nav img:last-child {
        margin-left: auto;
        width: 30px;
    }
    #top-nav img:last-child:hover {
        transform: scale(1.1);
        transition: all 400ms ease-in-out;
    }

#mobile-nav {
    display: none;
    width: calc(100% - 2rem);
    background-color: var(--purple);
    margin: 0 1rem;
    position: absolute;
    padding: 1rem;
    border-radius: 0.5rem;
}
    #mobile-nav a {
        font-size: 1.125rem;
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 1rem 0;
        text-align: center;
        font-weight: bold;
    }
    #mobile-nav a:nth-of-type(3) {
        border-bottom: 0.01rem solid #fff;
        padding-bottom: 2rem;
    }
    #mobile-nav a:nth-of-type(4) {
        padding-top: 2rem;
    }
    #mobile-nav button {
        font-size: 1.125rem;
        background-color: var(--cyan);
        border: none;
        width: 100%;
        color: #fff;
        font-weight: bold;
        outline: none;
        margin: 1rem 0;
        padding: 0.75rem 0;
        border-radius: 1.75rem;
    }

    
.img-container {
    width: 100%;
    overflow: hidden;
}
#hero-img {
    width: 125%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
/* hero content */
#hero-content {
    width: 100%;
    display: grid;
}
    #hero-content h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 0 1rem;
        text-align: center;
    }
    #hero-content p {
        font-size: 1.125rem;
        text-align: center;
        color: var(--gray);
        padding: 1rem;
    }
    #hero-content button {
        text-align: center;
        font-size: 1.125rem;
        font-weight: bold;
        color: #fff;
        outline: none;
        border: none;
        background-color: var(--cyan);
        padding: 1rem;
        width: 12rem;
        margin: 1rem auto;
        border-radius: 2rem;
    }

/* shorten link content */
#shorten {
    width: 100%;
    padding: 0 1rem;
    background-color: #f0f1f6;
    margin-top: 10rem;
}
    #shorten form {
        background-color: var(--purple);
        background: url('/static/images/bg-shorten-mobile.svg') no-repeat var(--purple) top left 100%;
        position: relative;
        bottom: 5rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }
        #shorten form span {
            color: #fff;
        }
        #shorten input {
            font-size: 1rem;
            width: 100%;
            border-radius: 0.25rem;
            padding: 0.5rem;
            outline: none;
            border: none;
        }
        #shorten form button {
            margin-top: 1rem;
            width: 100%;
            border: none;
            color: #fff;
            font-weight: bold;
            background-color: var(--cyan);
            padding: 0.5rem;
            border-radius: 0.25rem;
            font-size: 1rem;
        }

    #shorten section {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }
        #advanced-stats {
            text-align: center;
            margin-bottom: 5rem;
        }
            #advanced-stats p {
                color: var(--gray);
            }
        #shorten section article p {
            color: var(--grayViolet);
        }
        #shorten section article {
            text-align: center;
            margin-bottom: 5rem;
        }
        #shorten section article h2 {
            margin-bottom: 1.25rem;
        }
        #shorten .card {
            z-index: 2;
            background-color: #fff;
            padding: 0rem 1.25rem 2rem 1.25rem;
            border-radius: 0.25rem;
        }
        #shorten .card img {
            background-color: var(--purple);
            padding: 1rem;
            border-radius: 50%;
            position: relative;
            bottom: 2.5rem;
        }
        #shorten .blue-line {
            width: 10px;
            background-color: var(--cyan);
            margin: 0 auto;
            height: 40rem;
            position: absolute;
            top: 8rem;
            z-index: 1;
            left: calc(50% - 0.25rem);

        }

/* boost content */
#boost {
    width: 100%;
    display: grid;
    background: var(--purple) url('/static/images/bg-boost-mobile.svg') top left 100% no-repeat; 
    padding: 6rem 2rem;
}
    #boost h2 {
        color: #fff;
        text-align: center;
        margin-bottom: 1rem;
        /* padding: 2rem; */
    }

    #boost button {
        font-size: 1.125rem;
        font-weight: bold;
        border: none;
        outline: none;
        color: #fff;
        background-color: var(--cyan);
        margin: 0 auto;
        width: 12rem;
        border-radius: 2rem;
        padding: 0.75rem 0;
    }


 /* Contact main content */

 #contact {
     width: 100%;
     padding: 3rem;
     background-color: var(--darkViolet);
     color: #fff;
     text-align: center;
 }
    #contact article {
        margin-bottom: 2rem;
    }
    #logo-white {
        margin-bottom: 3rem;
    }
    #contact h3 {
        margin-bottom: 1rem;
    }
    #contact a {
        padding: 0.5rem 0;
        text-decoration: none;
        display: block;
        color: var(--grayViolet);
    }
    #contact section {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
    }




@media screen and (min-width: 700px) {
    #top-nav {
        padding: 3rem 5% 2rem 5%;
    }
    #top-nav img:first-child {
        padding-top: 0.15rem;
    }
        #nav-inner {
            display: flex;
            width: 100%;
        }
            #nav-inner .nav-items a {
                display: inline-block;
                color: var(--gray);
                text-decoration: none;
                margin-left: 1rem;
            }
        .nav-items:first-child {
            padding-top: 0.25rem;
        }
        .nav-items-right {
            margin-left: auto;
        }
            .nav-items-right button {
                font-size: 1rem;
                background-color: var(--cyan);
                border: none;
                width: 6rem;
                color: #fff;
                font-weight: bold;
                outline: none;
                /* margin: 1rem 0; */
                padding: 0.25rem 0;
                border-radius: 1.75rem;
            }
            .nav-items-right a {
                margin-right: 1rem;
            }

        #hamburger {
            display: none;
        }
    
    #hero-container {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
    }
        #hero-content {
            margin-top: 5%;
            display: block;
            margin-left: 5%;
        }
            #hero-content h1, #hero-content p {
                text-align: left;
                padding-left: 0;
            }
    


    #shorten {
        padding: 0 5%;
    }
        #shorten form {
            bottom: 3rem;
        }
        #shorten form input {
            width: 72.5%;
            margin-right: 2.5%;
            height: 3rem;
            /* display: inline-block; */
            /* vertical-align: top; */
        }
        .input {
            margin-top: 0.5rem;
            display: flex;
            width: 100%;
        }
        #shorten form button {
            margin-top: 0;
            flex-grow: inherit;
            display: inline-block;
            width: 25%;
            vertical-align: top;
            height: 3rem;
        }
    
}
@media screen and (min-width: 1100px) {
    #hero-content {
        margin-top: 10%;
        display: block;
        margin-left: 5%;
    }
    #shorten section {
        flex-direction: row;
        justify-content: space-between;
    }
        #shorten .card img {
            right: 25%;
        }
        #shorten .card {
            height: 20rem;
            align-items: flex-start;
        }
        #shorten .card:nth-of-type(1),
        #shorten .card:nth-of-type(2) {
            margin-right: 1.5rem;
        }
        #shorten .card:nth-of-type(2){
            margin-top: 2rem;
        }
        #shorten .card:nth-of-type(3){
            margin-top: 4rem;
        }
        #shorten .blue-line {
            top: -10rem;
            transform: rotate(90deg);
        }
}