* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  width: 100%;
  min-height: 100vh;
}

#top-nav {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 7.5%;
  padding-left: 7.5%;
}

#top-nav img {
  padding: 0;
}

#top-nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top-nav .nav-items-right {
  margin-left: auto;
}

#top-nav .nav-items-right a {
  margin-left: 1rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #000;
  border: 2px solid transparent;
  padding: 0.25rem 1rem;
}

#top-nav .nav-items-right .link:hover {
  color: #fa5757;
}

#top-nav .nav-items-right #login {
  color: #fa5757;
  border: 2px solid #fa5757;
  border-radius: 0.15rem;
}

#top-nav .nav-items-right #login:hover {
  background-color: #fa5757;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#top-nav .nav-items-right-mobile {
  display: none;
}

#main-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-header section {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#main-header section:first-child {
  padding-left: 7.5%;
  margin-top: 7rem;
}

#main-header section:first-child h1 {
  width: 27rem;
  font-size: 3rem;
}

#main-header section:first-child p {
  width: 27rem;
  line-height: 1.75rem;
  color: #9194a1;
  margin: 1.5rem 0;
}

#main-header section:first-child button {
  border: none;
  outline: none;
  margin-right: 1rem;
  border-radius: 0.25rem;
  padding: 0.65rem 1.25rem;
  font-size: 0.9rem;
  background-color: transparent;
}

#main-header section:first-child button:nth-of-type(1) {
  border: 2px solid #5368df;
  color: #5368df;
}

#main-header section:first-child button:nth-of-type(1):hover {
  background-color: #5368df;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#main-header section:first-child button:nth-of-type(2) {
  border: 2px solid #000;
}

#main-header section:first-child button:nth-of-type(2):hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

#main-header section:last-child {
  margin-top: 3rem;
}

#main-header section:last-child img {
  padding-right: 7.5%;
  width: 100%;
}

#main-header section:last-child .blue-bg {
  margin-left: auto;
  z-index: -1;
  position: relative;
  bottom: 18rem;
  width: 70%;
  border-bottom-left-radius: 30%;
  height: 19rem;
  background-color: #5368df;
}

#featured {
  position: relative;
  bottom: 10rem;
}

#featured #features {
  margin: 0 auto;
  text-align: center;
  width: 30rem;
}

#featured #features p {
  line-height: 1.75rem;
  color: #9194a1;
  margin: 1.5rem 0;
}

#featured #middle-nav {
  width: 37.04rem;
  margin: 4rem auto 0 auto;
}

#featured #middle-nav a {
  font-size: 0.9rem;
  padding: 1rem 2.5rem;
  border-bottom: 1px solid #9194a1;
  text-decoration: none;
  color: #252b46;
}

#featured #middle-nav a:hover {
  color: #fa5757;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#featured #middle-nav .active {
  border-bottom: 3px solid #fa5757;
  font-weight: bold;
}

#one-click-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
}

#one-click-header section {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#one-click-header img {
  width: 90%;
  padding-left: 15%;
}

#one-click-header .bg-blue-middle {
  z-index: -1;
  position: relative;
  bottom: 13em;
  width: 70%;
  margin-right: 30%;
  border-bottom-right-radius: 30%;
  height: 19rem;
  background-color: #5368df;
}

#one-click-header section:last-child {
  padding-right: 7.5%;
  padding-left: 10%;
}

#one-click-header section:last-child h2 {
  margin-top: 4rem;
}

#one-click-header section:last-child p {
  line-height: 1.75rem;
  color: #9194a1;
  margin: 1.5rem 0;
}

#one-click-header section:last-child button {
  border: 2px solid #5368df;
  outline: none;
  margin-right: 1rem;
  border-radius: 0.25rem;
  padding: 0.65rem 1.25rem;
  font-size: 0.9rem;
  background-color: #5368df;
  color: #fff;
}

#one-click-header section:last-child button:hover {
  background-color: #fff;
  color: #5368df;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#download-header {
  padding-top: 1rem;
  width: 30rem;
  margin: 0 auto;
  text-align: center;
}

#download-header p {
  line-height: 1.75rem;
  color: #9194a1;
  margin: 1.5rem 0;
}

#download-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#download-cards section {
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#download-cards section img {
  padding: 1rem 2rem;
}

#download-cards section h3 {
  padding: 1.5rem 3.5rem 0 3.5rem;
}

#download-cards section p {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  color: #9194a1;
  border-bottom: 5px dotted #f3f2f2;
  padding-bottom: 2rem;
}

#download-cards section button {
  margin-top: 1rem;
  background-color: #5368df;
  color: #fff;
  border: none;
  outline: none;
  padding: .5rem 1rem;
  font-weight: 600;
  border-radius: 0.15rem;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#download-cards section button:hover {
  color: #5368df;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#download-cards section:nth-of-type(1), #download-cards section:nth-of-type(2) {
  margin-right: 1.5rem;
}

#download-cards section:nth-of-type(2) {
  margin-top: 1.5rem;
}

#download-cards section:nth-of-type(3) {
  margin-top: 3rem;
}

#faq-header {
  padding: 1 7.5% 0 7.5%;
  text-align: center;
  margin-top: 14rem;
  width: 100%;
}

#faq-header h2 {
  margin: 0 auto;
  width: 30rem;
}

#faq-header p {
  width: 30rem;
  line-height: 1.75rem;
  color: #9194a1;
  margin: 1.5rem auto;
}

#main-faq {
  width: 100%;
  text-align: center;
}

#main-faq article {
  width: 30rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 0;
  border-top: 2px solid #f3f2f2;
}

#main-faq article span {
  font-weight: 600;
}

#main-faq article img {
  height: 0.75rem;
  display: inline-block;
  margin-left: auto;
  margin-right: 0.5rem;
}

#main-faq article:hover {
  color: #fa5757;
  cursor: pointer;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

#main-faq p {
  display: none;
  width: 30rem;
  line-height: 1.75rem;
  color: #9194a1;
  margin: 1rem auto;
}

#main-faq button {
  font-weight: 600;
  display: inline-block;
  color: #fff;
  background-color: #5368df;
  border: 2px solid #5368df;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.15rem;
  margin: 2rem auto;
}

#main-faq button:hover {
  color: #5368df;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

footer {
  margin-top: 5rem;
  width: 100%;
  background-color: #5368df;
}

footer section {
  padding: 3rem;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 30rem;
}

footer section h4 {
  margin-bottom: 2rem;
  font-size: 0.9rem;
  letter-spacing: 0.25rem;
}

footer section h2 {
  margin: 0 auto 2rem auto;
  font-size: 2.25rem;
}

footer section input {
  outline: none;
  border: none;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 15rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
}

footer section button {
  color: #fff;
  background-color: #fa5757;
  border: 2px solid #fa5757;
  outline: none;
  padding: 0.6rem 1rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

footer section button:hover {
  color: #fa5757;
  background-color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  #main-header section:last-child {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 950px) and (max-width: 1100px) {
  #main-header {
    margin-bottom: 5rem;
  }
  #main-header section:first-child {
    width: 40%;
    padding-right: 5%;
  }
  #main-header section:last-child {
    width: 55%;
    padding-left: 5%;
    margin-top: 6rem;
  }
  #main-header section:last-child .blue-bg {
    height: 14rem;
    bottom: 14rem;
  }
  #one-click-header {
    margin-top: 0rem;
  }
  #one-click-header section:last-child h2 {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 949px) {
  #main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 5rem;
  }
  #main-header section:first-child {
    padding: 0 7.5%;
    text-align: center;
    margin: 0 auto 4rem auto;
    position: relative;
    bottom: 8rem;
    width: 100%;
  }
  #main-header section:first-child h1 {
    width: 100%;
  }
  #main-header section:first-child p {
    width: 100%;
  }
  #main-header section:last-child {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin-top: 6rem;
  }
  #main-header section:last-child img {
    padding: 0;
    width: 75%;
    margin: 0 auto;
  }
  #main-header section:last-child .blue-bg {
    height: 14rem;
    bottom: 14rem;
  }
  #one-click-header {
    margin-top: 0rem;
  }
  #one-click-header section:last-child h2 {
    margin-top: 1rem;
  }
  #one-click-header section:first-child .bg-blue-middle {
    height: 14rem;
    bottom: 10rem;
  }
}

@media screen and (max-width: 768px) {
  #top-nav .nav-items-right {
    display: none;
  }
  #top-nav .nav-items-right-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  #top-nav .nav-items-right-mobile img:hover {
    cursor: pointer;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 5rem;
  }
  #main-header section:first-child {
    padding: 0 7.5%;
    text-align: center;
    margin: 0 auto 4rem auto;
    position: relative;
    bottom: 12rem;
    width: 100%;
  }
  #main-header section:first-child h1 {
    width: 100%;
    font-size: 2rem;
  }
  #main-header section:first-child p {
    width: 100%;
  }
  #main-header section:last-child {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin-top: 1rem;
  }
  #main-header section:last-child img {
    padding: 0;
    width: 75%;
    margin: 0 auto;
  }
  #main-header section:last-child .blue-bg {
    height: 14rem;
    bottom: 14rem;
  }
  #featured #features {
    width: 100%;
    padding: 0 7.5%;
  }
  #featured #middle-nav {
    width: 100%;
    padding: 0 7.5%;
  }
  #featured #middle-nav a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  #one-click-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #one-click-header section:last-child {
    position: relative;
    bottom: 5rem;
    text-align: center;
    margin-bottom: 7rem;
    width: 100%;
    padding: 0 7.5%;
  }
  #one-click-header section:last-child h2 {
    margin-top: 1rem;
  }
  #one-click-header section:last-child button {
    width: 100%;
  }
  #one-click-header section:first-child {
    display: -ms-grid;
    display: grid;
  }
  #one-click-header section:first-child img {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  #one-click-header section:first-child .bg-blue-middle {
    height: 14rem;
    bottom: 10rem;
  }
  #download-header {
    width: 100%;
    padding: 0 7.5%;
  }
  #download-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 7.5%;
  }
  #download-cards section {
    width: 100%;
  }
  #download-cards section:nth-of-type(1),
  #download-cards section:nth-of-type(2),
  #download-cards section:nth-of-type(3) {
    margin: 0 0 3.5rem 0;
  }
  #main-faq {
    padding: 0 7.5%;
  }
  #main-faq article, #main-faq p {
    width: 100%;
  }
  footer {
    width: 100%;
    padding: 0 7.5%;
  }
  footer section {
    width: 100%;
    padding: 3rem 0;
  }
  footer section input {
    width: 100%;
    margin-bottom: 2rem;
  }
  footer section button {
    width: 100%;
  }
}

#nav-pop {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 7.5%;
  background-color: #000;
  opacity: 0.9;
  position: absolute;
  top: 0;
  z-index: 5;
}

#nav-pop img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

#nav-pop section:first-child {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10%;
  border-bottom: 1px solid #fff;
}

#nav-pop section:first-child img:last-child {
  height: 1rem;
  margin-left: auto;
}

#nav-pop section:last-child {
  width: 100%;
}

#nav-pop section:last-child a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8%;
  border-bottom: 1px solid #fff;
}

#nav-pop section:last-child a:hover {
  color: #5368df;
  border-bottom: 1px solid #5368df;
  cursor: pointer;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

#nav-pop section:last-child article {
  padding: 15% 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-pop section:last-child article img {
  margin: 0 auto;
  width: 10%;
}
/*# sourceMappingURL=style.css.map */